body
{
    font-family: less;
}

header
{
    background-image: url(../images/placeholder_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: white;
}

header nav
{
    text-align: end;
    bottom: 0px;
}

nav ul li
{
    color: white;
    list-style-type: none;
    display: inline;
    padding: 10px;
}

nav ul li a
{
    color: white;    
    text-decoration: none;
    font-family: less;
    image-resolution:snap;
}

#frontPage
{
    height: 300px;
}


.MainImage
{
    border: solid 1px black;
}

h1
{
    font-size: 1.4em;
    padding-top: 22px;
    padding-left: 80px;
}

h2
{
    font-family: lessregular;
    padding-top: 10px;
    padding-bottom: 10px;
}

section
{
    margin: auto;
    max-width: 900px;
    text-align: left;
    padding-bottom: 1px;
}

footer
{
    background-color: black;
    color: white;
    text-align: end;
    bottom: 0px;
    clear: both;
    border: 1px solid;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer img
{
    border: 1px solid white;
    margin: 3px;
}


table
{
    margin-top: 30px;
    width: 100%;
    background-color: lightgray;
    margin-bottom: 20px;
}
table thead
{
    color: white;
    text-align: left;
}

table td
{

    text-align: center;
}

#price
{
    text-align: end;
    font-size: 1.2em; 
}

.images
{
    margin: auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
}

#gallery
{
    max-width: 900px;
    justify-content: center;
    
}

#galleryTile
{
    float: left;
    background-color: lightgray;
    width: 420px;
    height: 500px;
    margin: 10px;
}

#galleryTile img
{
    margin: 10px;
}

#galleryTile p
{
    margin: 10px
}

@font-face {
    font-family: 'lessregular';
    src: url('less-webfont.woff') format('woff2'),
         url('less-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lesslight';
    src: url('less-light-webfont.woff2') format('woff2'),
         url('less-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
